# Dependencies
node_modules/

# ESLint cache
.eslintcache

# Build directories
/dist/

# Environment variables
.env

# Default email attachments directory
/attachments/

# Editor directories and files
*.swa-p